<form method="post" role="form">
    <div class="title">{{title}}</div>
    <div class="url">{{url}}</div>
        <table border="0">
            <tr ng-repeat="t in inputs">
                <td>{{t.label}}:</td>
                <td width="400px">
                    <input class="input_v" class="form-control" type="text" ng-model="$parent.conf[$index]"
                           ng-change="change()" ng-readonly="$parent.inputs[$index].name === 'sign'"/></td>
                <td>{{t.comment}}</td>
            </tr>
        </table>
    <hr>
    <div class="title_v">参数列表</div>
    <div class="current_sign">{{currentSign}}</div>

    <div ng-show="resultKey">
        <div class="title_v">返回结果</div>
        <div class="result">{{result | json}}</div>
    </div>
    <button class="btn btn-primary" ng-disabled="incomplete" type="button" ng-click="submitForm()">提交</button>
</form>