.idea
/web/wwt/build
/web/wwt/.sencha
/web/wwt/resources/loading
/web/wwt/resources/icons
/.gitignore
/web/wwt/resources/sass/stylesheets
/web/wwt/resources/sass/.sass-cache

/web/wwt/resources/css
/web/wwt/sass/example
/web/wwt/touch
/web/wwt/bootstrap.js
/web/wwt/bootstrap.json
/web/www/build
/web/www/.sencha
/web/www/ext
/web/www/sass/example
/web/www/sass/etc
/web/www/bootstrap.css
/web/www/classic.json
/web/www/modern.json
/web/WEB-INF/lib
/web/www/bootstrap.js
/XApp.iml
out