.idea

/web/wwt/build
/web/wwt/.sencha
/web/wwt/resources/loading
/web/wwt/resources/icons

/web/wwt/resources/sass/stylesheets
/web/wwt/resources/sass/.sass-cache
/web/wwt2/build
/web/wwt2/.sencha
/web/wwt2/resources/loading
/web/wwt2/resources/icons

/web/wwt2/resources/sass/stylesheets
/web/wwt2/resources/sass/.sass-cache


/web/wwt2/resources/css/app.css
/web/wwt2/sass/example
/web/wwt2/touch
/web/wwt2/bootstrap.js
/web/wwt/bootstrap.json
/web/www/build
/web/www/.sencha
/web/www/ext
/web/www/sass/example
/web/www/sass/etc
/web/www/bootstrap.css
/web/www/classic.json
/web/www/modern.json
/web/WEB-INF/lib
/web/www/bootstrap.js
/XApp.iml
/XApp2.iml
out
/XApp_ONE.iml
