<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xd.fw.bean.mapper.JknUserMapper">

    <update id="userWithdrawCount" parameterType="int">
        update t_jkn_user set count = count - #{totalCount,jdbcType=INTEGER}
        , withdraw_count = withdraw_count + #{totalCount,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <select id="sumFeeFromGeneration" resultType="java.lang.Integer" parameterType="int">
        select sum(
        <if test="generation ==1">count_one</if>
        <if test="generation ==2">count_two</if>
        <if test="generation ==3">count_three</if>) from t_jkn_order_settlement
        where
        <if test="generation ==1">user_id_one</if>
        <if test="generation ==2">user_id_two</if>
        <if test="generation ==3">user_id_three</if> = #{userId,jdbcType=INTEGER} and settlement_status=1
    </select>

    <delete id="deleteEarlierEvent">
        delete from t_jkn_event where trigger_date &lt; subdate(curdate(),2) and event_status = 2
    </delete>

</mapper>