<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="startQuertz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="memoryCheckDoTime"/>-->
                <ref bean="freeJobDoTime"/>
                <ref bean="proxyJobDoTime"/>
            </list>
        </property>
    </bean>

    <!--free-->
    <bean id="freeJob" class="xd.fw.job.FreeJob">
        <property name="parkingNo">
            <value>${park_no}</value>
        </property>
        <property name="serverHostName">
            <value>wap.dh-etc.com</value>
        </property>
    </bean>

    <bean id="freeJobDetail" parent="baseJobDetail">
        <property name="targetObject">
            <ref bean="freeJob"/>
        </property>
    </bean>

    <bean id="freeJobDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="freeJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>* 5 * * * ?</value>
        </property>
    </bean>

    <bean id="proxyJobDetail" parent="baseJobDetail">
        <property name="targetObject">
            <ref bean="proxyJob"/>
        </property>
    </bean>

    <bean id="proxyJobDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="proxyJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/50 * * * * ?</value>
        </property>
    </bean>


    
</beans>