<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <task:executor id="quartzExecutor" pool-size="1"/>

    <bean id="startQuertz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="taskExecutor" ref="quartzExecutor"/>
        <property name="triggers">
            <list>
                <!--<ref bean="memoryCheckDoTime"/>-->
                <ref bean="userProcessDoTime"/>
                <ref bean="notifyUserUpdateDoTime"/>
                <ref bean="sendSmsDoTime"/>
                <ref bean="removeEarlierEventDoTime"/>
            </list>
        </property>
    </bean>

    <bean id="userProcessDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean parent="baseJobDetail">
                <property name="targetObject">
                    <ref bean="userProcessorJob"/>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0/1 * * * * ?</value>
        </property>
    </bean>


    <bean id="notifyUserUpdateDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean parent="baseJobDetail">
                <property name="targetObject">
                    <ref bean="notifyUserUpdatedJob"/>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0/1 * * * * ?</value>
        </property>
    </bean>

    <bean id="sendSmsDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean parent="baseJobDetail">
                <property name="targetObject">
                    <ref bean="sendSmsJob"/>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0/59 * * * * ?</value>
        </property>
    </bean>

    <bean id="removeEarlierEventDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean parent="baseJobDetail">
                <property name="targetObject">
                    <ref bean="removeEarlierEvent"/>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0 0 1 * * ?</value>
        </property>
    </bean>

</beans>